@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

.body{
    background: url("./back.jpeg"); 
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mars{
    position: relative;
    margin-right: 50px;
   max-width: 140px;
    z-index: 99;
    display: inline;
}
.cobr2{
    background-image: url(./cartoon.png);
    height: 80px;
    width: 60px;
    background-size: cover;
    background-repeat: no-repeats;
    position: absolute;
    top: 20px;
    margin-right: 400px;
    font-size: 39px;

    
    
}

.cobr{
    font-size: 70px;
    font-weight: 700;
    position: absolute;
    top: 15px;
    margin-left: 140px;
    font-size: 50px;
    color:darkgreen ;
    font-family: 'New Tegomin', serif;
}



#scoreBox{
    border: 3px solid yellow;
    border-radius: 5%;
    padding: 10px;
    background-color: darkcyan;
    position: relative;
    top: 20px;
    right: 150px;
    font-size: 39px;
    font-weight: 800;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox{
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: brown;
}

#board{
    width: 95vmin;
    height: 77vmin;
    margin-top: 80px;
    border: 6px solid greenyellow;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}